.banner{
    background-image: url("https://wallpapercave.com/wp/wp3108438.jpg");
    background-size: cover;
    width: 100vw;
    height: 95vh;
    background-repeat: no-repeat;
    
}

.cover{
    width: 100%;
    height: 95vh;
    background-color: black;
    opacity: 0.4;
}
.fadeout
{
    z-index:999;
    background-color: initial;
    background-image: linear-gradient(
        180deg,
        hsla(0,0%,8%,0)0,
        hsla(0,0%,8%,0.15)15%,
        hsla(0,0%,8%,0.35)29%,
        hsla(0,0%,8%,0.58)44%,
        #13131341 68%
       
    );
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -3rem;
    height: 10vh;
    opacity: 1;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}